<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilecoursework">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hardwareAccelerated="true"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RSSFeedActivity"/>
        <activity android:name=".RssItems"/>
        <activity android:name=".RSSparser"/>
        <activity android:name=".BasicMapActivity"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="Map"
            android:exported="false">
            <intent-filter>
                <action android:name="map">
                </action>
            </intent-filter>
        </service>

        <meta-data android:name="com.here.android.maps.appid"
            android:value="uyx8bPizX53SjKaqw7p3"/>
        <meta-data android:name="com.here.android.maps.apptoken"
            android:value="_7dHggvDzuWaj5-L_Ok_Rg"/>
        <meta-data android:name="com.here.android.maps.license.key"
            android:value="YCk+t7PLMUy2vajyxcQotYSmsC8sN9ssSLYB8Jqnzvs+MZd+lodGOMDmxnMjfopxt4eSeLjJ5wLtU4FrDU7lTXG72MhrurwwCDpGSL75+BrN8X81ALdMPryVNqm2oGijHBeraqXgkNRWGhPE9svNXl78mkgBfhrU0ryebiE+6HbQBMuHor3Po6FZ8LYAYpXpxmWBlnihOVfb1f04DSC2i79dqsZnXZuMxEOJ3syEYxhUh0nJ4kekktY4CA9TyF+Tr6B0jlO/7h9PnDJw0xgY1RQWn1dY/xrP7YFMdZprrJ+6uWsl6C9Ha/f4GOvnLGoKQNccadc53fxOQaxb76ZbfymZOVy+HMQcW1eFid6xMuYC1oboD7tCnxvFJkwxcHm72WtNMMQbDYIaceuiLOhlwQOIdBO44x1AuIU+cMOSGKx2L54u1beYTHkU1yPPq7oyQkUuTa3Jt+xOJ1vbKM0lJguGp4438M3QKs3fEyzaYiRtfYCmQS7aGp96du4UZGaVrousI0Yr/VN/S5s2MJsS3fk3GYktYlgnry59XGq2p9A7/kG0+HZ7A2/z7YeawAwZAfdrMmRDUx64L2e7CPusL12TkNwVbUO1YULFkJsUs9ctw+T/tOy0xOotBtXrJkpdC1PRr0wyBQJZid+ZnxZR0uMaErBD9BKivIRz+OSzoBw="/>
    </application>

</manifest>